@import "tailwindcss";
@import "./animations.css";

@plugin "@midudev/tailwind-animations";
@theme inline {
  --animate-background-position-spin: background-position-spin 3000ms infinite
    alternate;
 
  @keyframes background-position-spin {
    0% {
      background-position: top center;
    }
    100% {
      background-position: bottom center;
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
@theme{
    --color-primary:#252525;
    --color-secondary:#111111;
    --color-button:#6B0C00;
    --color-theme-red:#F70F12;
    --color-theme-gray:#214B52;
    --color-theme-white:#F8F2F2;
    --font-special: 'JollyLodger', sans-serif;

}


.button-red {
    @apply inline-flex h-auto items-center justify-center rounded-md border-2 border-theme-red/20 
    bg-gradient-to-r from-red-600/90 via-red-500/90 to-red-600/90 bg-[length:200%_200%] bg-[0%_0%] 
    px-8 font-medium text-theme-white shadow-md
    hover:border-theme-red/40 hover:from-red-500/90 hover:via-red-400/90 hover:to-red-500/90
    hover:text-theme-white hover:shadow-lg
    duration-300 hover:bg-[99%_200%] 
    focus:outline-none focus:ring-2 focus:ring-theme-red focus:ring-offset-2 
    focus:ring-offset-theme-red font-special text-lg
}

.button-maps {
    @apply inline-flex h-12 items-center justify-center rounded-md border-2 border-theme-red/20
    bg-gradient-to-r from-white via-red-50 to-red-100 bg-[length:200%_200%] bg-[0%_0%]
    px-6 font-medium text-red-700 shadow-sm
    hover:border-theme-red/40 hover:from-red-100 hover:via-red-50 hover:to-white
    hover:text-red-800 hover:shadow-md
    duration-300 hover:bg-[99%_200%]
    focus:outline-none focus:ring-2 focus:ring-theme-red/40 focus:ring-offset-2
    focus:ring-offset-theme-red/40 font-special text-lg
}
@font-face {
    font-family: 'JollyLodger';
    src: url('/fonts/JollyLodger.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}