---
import Layout from '@/layouts/Layout.astro';
import Bento from '@/components/Bento.astro';
import Gallery from '@/components/Gallery.astro';
import Quotes from '@/components/Quotes.astro';
import Contact from '@/components/Contact.astro';
import HeroSection from '@/components/HeroSection.astro';
import CallToAction from '@/components/CallToAction.astro';
import MobileFeatureGrid from '@/components/MobileFeatureGrid.astro';

---

<Layout>
  <main>
    <HeroSection />
    <div class="hidden md:block">
      <Bento />
    </div>
    <div class="md:hidden">
      <MobileFeatureGrid />
    </div>
    <Gallery />
    
    <Quotes />
    <CallToAction />
    <Contact />
  </main>
</Layout>
