---
import { Image } from "astro:assets";
import icon from "@/assets/icon-menu.svg";
import worldIconWhite from "../components/icons/WorldLogoWhite.svg"
---
<section class="z-0 mt-[1140px] bento-section hidden md:flex">
    <div class="grid grid-cols-3 grid-rows-6 gap-4">
  
      <!-- Sección de galería -->
      <article class="row-span-4 border-2 rounded-md p-4">
        <h2 class="text-6xl font-bold mb-14 font-special tracking-wider">
          Explora la <span class="text-theme-red">galería</span> de diseños
        </h2>
  
        <p class="text-xl mb-5">
          Relájate con una auténtica experta que te brindá una atención personalizada
        </p>
  
        <a class="transition-background button-red text-lg" href="/gallery">
            Explora nuestros diseños de uñas
        </a>
      </article>
  
      <!-- Ubicación -->
      <section class="row-span-6 col-start-3 row-start-1 border-2 rounded-md p-4">
        <h3 class="text-5xl font-special text-center mb-4">
          Costa Rica
        </h3>
        <h3 class="text-7xl font-special text-center mb-4">
          Guanacaste
        </h3>
        <h3 class="text-5xl font-special text-center mb-4">
          Playas del Coco
        </h3>
  
        <div class="flex flex-col justify-center mt-10">
          <Image
            src={worldIconWhite}
            alt="Erling Nails"
            class="w-auto h-32 hover:scale-105 transition-all duration-300 hover:cursor-pointer mb-10"
          />
  
          <a class="transition-background button-maps" href="/ubication">
            Ver ubicación del salón en Google Maps
          </a>
  
          <a class="mt-4 transition-background button-red" href="/ubication">
            Contacto
          </a>
        </div>
      </section>
  
      <!-- CTA de agenda -->
      <aside class="row-span-2 col-start-2 row-start-1 rounded-md p-2 bg-theme-red text-theme-white">
        <h2 class="text-6xl font-bold mb-2 font-special tracking-wider text-center">
          ¡Agenda tu cita ahora mismo!
        </h2>
        <div class="flex justify-center">
          <a class="transition-background button-red w-[40%]" href="/contact">
            Agendar
          </a>
        </div>
      </aside>
  
      <!-- Identidad / marca -->
      <section class="row-span-2 col-start-2 row-start-3 border-2 rounded-md border-theme-red hover:scale-105 transition-all duration-300">
        <div class="flex flex-col items-center justify-center h-full">
          <h2 class="text-5xl font-bold mb-4 text-theme-red font-special tracking-wider">
            Erling Nails
          </h2>
          <Image
            src={icon}
            alt="Logo de Erling Nails"
            class="w-12 h-12"
          />
          <p class="text-center mt-2 text-xl font-medium font-special">
            Un espacio dedicado al cuidado de tus manos y pies.
          </p>
        </div>
      </section>
  
      <!-- Sobre mí -->
      <article class="col-span-2 row-span-2 row-start-5 rounded-md bg-theme-red text-theme-white p-8">
        <h2 class="text-5xl font-bold font-special tracking-wide">
          ¿Quieres conocerme un poco más?
        </h2>
        <div class="flex items-center justify-center h-full">
          <p class="text-xl mb-5">
            Averigua más sobre mi trayectoria en el mundo de la manicura y pedicura!
          </p>
          <a class="transition-background button-red text-center w-[60%] " href="/about">
            Conoce a Erling, </br>tu especialista en manicura
          </a>
        </div>
      </article>
  
    </div>
  </section>
  