---

import FacebookIcon from "./icons/FacebookIcon.astro";
import UbiIcon from "./icons/UbiIcon.astro";

---

<section class="contact-section text-theme-white">
    <header>
      <h2 class="text-6xl font-bold mb-14 font-special tracking-wider">
        Contactame para tu manicura y pedicura en Guanacaste, Playas del Coco
      </h2>
    </header>
  
    <article>
      <p class="text-xl mb-5">
        ¿Lista para lucir unas uñas espectaculares?</br>
        Agenda con una de las mejores especialista en uñas de Guanacaste atenta detalle para que te sientas única en cada visita. Ya sea que busques un diseño delicado, algo atrevido o simplemente un momento para vos, estás en el lugar indicado.
      </p>
  
      <p class="text-xl mb-5">
        Agenda tu manicura o pedicura hoy mismo en y descubrí por qué nuestras clientas siempre vuelven.
      </p>
  
      <p class="text-xl mb-5">
        ¡Escribinos y empecemos a crear magia juntas!
      </p>
    </article>
  
    <figure>
      <iframe
        class="rounded-2xl"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d980.5909064680815!2d-85.69696103519345!3d10.550691863949071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e299b81d6d64d%3A0x6f5d864160be0d4a!2sFive%20Star%20Sal%C3%B3n%20%26%20Spa!5e0!3m2!1ses-419!2scr!4v1745365275790!5m2!1ses-419!2scr"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      
      <figcaption class="flex gap-2 items-center mt-4 mb-8">
        <UbiIcon />
        <p>Playas del Coco, Guanacaste, Costa Rica</p>
      </figcaption>
    </figure>
  
    <article>
      <p class="text-2xl mb-5">
        Puedes consultar mi disponibilidad y agendar una cita conmigo! <br />
        Si deseas contactarme o agendar puedes llamar al:
      </p>
  
      <p class="text-4xl font-special">
        <a href="tel:+506876554321">(+506) 876554321</a>
      </p>
    </article>
  
    <aside class="flex flex-col gap-2 items-center mt-20 mb-8 text-2xl">
      <p>También puedes seguir mi trabajo en:</p>
      <FacebookIcon class="w-8 h-8" />
  
      <p class="text-lg">
        En mi página de facebook podrás ver trabajos recientes además de información exclusiva sobre mis servicios.
      </p>
    </aside>
  </section>
  
    