---

import ShareIcon from './icons/ShareIcon.astro'
import StellarIcon from './icons/Stellar.svg'
import { Image } from 'astro:assets';

---
<footer>
    <div class="flex flex-col items-center justify-center h-full text-theme-white p-4 mt-32">
      <h2 class="text-3xl font-bold mb-4 font-special tracking-wider text-center">
        Erling Nails</br> Experta en uñas acrílicas, gel y mucho más
      </h2>
  
      <p class="text-center mt-4">
        &copy; 2023 Erling Nails. All rights reserved.
      </p>
      <p class="text-center my-4">
        Si te gustó mi contenido, no dudes en dejar una reseña en nuestras redes sociales y compartir nuestra web.   
      </p>
  
      <ShareIcon class="w-12 h-12 mt-4 hover:scale-105 transition-all duration-300 hover:cursor-pointer" />
    </div>
  
    <div class="flex justify-between mt-4">
      <div>
        <nav aria-label="Navegación del pie de página">
          <ul class="flex flex-col space-x-4 mt-4 text-theme-white">
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </nav>
  
        <section itemscope itemtype="https://schema.org/LocalBusiness">
          <meta itemprop="name" content="Erling Nails" />
          <meta itemprop="image" content="https://tusitio.com/tu-logo-o-foto.jpg" />
          <meta itemprop="description" content="Manicura y pedicura profesional en Playas del Coco, Guanacaste. Diseños únicos, atención personalizada y resultados que enamoran." />
          <meta itemprop="url" content="https://tusitio.com" />
  
          <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="not-italic">
            <p><strong>Dirección:</strong> 
              <span itemprop="streetAddress">Five Star Salón & Spa</span>, 
              <span itemprop="addressLocality">Playas del Coco</span>, 
              <span itemprop="addressRegion">Guanacaste</span>, 
              <span itemprop="addressCountry">Costa Rica</span>
            </p>
          </address>
  
          <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="10.55069" />
            <meta itemprop="longitude" content="-85.69696" />
          </div>
  
          <p><strong>Teléfono:</strong> <a href="tel:+506876554321" itemprop="telephone">(+506) 876554321</a></p>
  
          <div itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
            <meta itemprop="contactType" content="customer service" />
            <meta itemprop="telephone" content="+506876554321" />
            <meta itemprop="areaServed" content="CR" />
            <meta itemprop="availableLanguage" content="Spanish" />
            <meta itemprop="availableLanguage" content="English" />
          </div>
  
          <p><strong>Redes sociales:</strong></p>
          <a href="https://www.facebook.com/tu-pagina" itemprop="sameAs">Facebook</a>
        </section>
      </div>
  
      <div class="flex items-center">
        <a class="font-special flex items-center" href="#">
          Powered by <Image src={StellarIcon} alt="Diseño web por Stellar" class="mx-2" />
        </a>
      </div>
    </div>
  </footer>
  