---
import Layout from "@/layouts/Layout.astro";

---

<section class="relative z-0 ">
    <h2 class="font-special text-7xl mt-36 mb-10 ">
        Una 
        <span class="text-theme-red">
            pincelada
        </span> 
        de mi arte
    </h2>

    <p 
    class="text-2xl">
    Te intereza ver distintos estilos y resultados de mi trabajo? Sientete libre de ver la galería de arte en la que encontrarás resultados varios de diseños y trabajos impecables
    </p>

<div class="grid grid-cols-3 grid-rows-7 gap-4 mt-10 ">
    <div class="row-span-3 rounded-md relative h-96 overflow-hidden">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>

    <div class="row-span-3 col-start-2 row-start-2 relative h-96 overflow-hidden  rounded-md">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>

    <div class="row-span-3 col-start-3 row-start-1 relative h-96 overflow-hidden  rounded-md">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>

    <div class="row-span-3 row-start-4 rounded-md relative h-96 overflow-hidden">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>

    <div class="row-span-3 col-start-2 row-start-5 relative h-96 overflow-hidden rounded-md">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>
    <div class="row-span-3 col-start-3 row-start-4 relative h-96 overflow-hidden rounded-md">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
    </div>
</div>

<span class="flex justify-center mt-10 mb-20">
    <a class="button-red" href="">Ver más</a>
</span>
</section>