---
import Layout from "@/layouts/Layout.astro";

---

<section aria-label="Galleria de imagenes" class="gallery-section relative z-0 mb-64 mt-[830px] md:mt-52">
  <header>
    <h2 class="font-special text-5xl md:text-7xl mb-10">
      Diseños de uñas 
      <span class="text-theme-red">profesionales,</span> 
      lo mejor en manicura y pedicura en Playas del Coco
    </h2>
  </header>

  <p class="text-lg md:text-2xl">
    ¿Te interesa ver distintos estilos y resultados de mi trabajo? Siéntete libre de ver la galería de arte en la que encontrarás resultados varios de diseños y trabajos impecables.
  </p>

  <section class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-7 gap-4 mt-10" aria-label="Galería de imágenes de uñas">
    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - Diseño de uñas estilo francés rojo y blanco" />
    </figure>

    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3 md:col-start-2 md:row-start-2">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - estilo 2" />
    </figure>

    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3 md:col-start-3 md:row-start-1">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - estilo 3" />
    </figure>

    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3 md:row-start-4">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - estilo 4" />
    </figure>

    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3 md:col-start-2 md:row-start-5">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - estilo 5" />
    </figure>

    <figure class="relative h-96 overflow-hidden rounded-md md:row-span-3 md:col-start-3 md:row-start-4">
      <img 
        class="absolute inset-0 h-full w-full object-cover" 
        src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" 
        alt="Diseño de uñas profesional - estilo 6" />
    </figure>
  </section>

  <div class="flex justify-center mt-10 mb-20">
    <a class="button-red" href="">Ver más</a>
  </div>
</section>

  