---
import Layout from "@/layouts/Layout.astro";
import { Image } from 'astro:assets';
import { fetchGalleryImages } from '@/utils/gallery.utils';
import { gridPositions, defaultImage } from '@/utils/gallery.types';

// Get images using the API endpoint
const { data = [] } = await fetchGalleryImages(Astro.url);

// Take only the first 6 images
const images = data.slice(0, 6);
---

<section aria-label="Image gallery" class="gallery-section relative mt-32 z-0 mb-20 md:mt-52" 
     data-aos="fade-up"
     data-aos-duration="500"
     data-aos-easing="ease-in-out"
     data-aos-once="false"
     
     >
  <header>
    <h2 class="font-special text-5xl md:text-7xl mb-10">
      Professional 
      <span class="bg-gradient-to-r from-theme-red to-[#7a00b3] bg-clip-text text-transparent">nail designs,</span> 
      the best in manicure and pedicure in Playas del Coco
    </h2>
  </header>

  <p class="text-lg md:text-2xl">
    Interested in seeing different styles and results of my work? Feel free to browse the art gallery where you'll find various impeccable designs and work results.
  </p>

  <section class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-7 gap-4 mt-10" aria-label="Nail designs gallery" 
     
     >
    {gridPositions.map((position, index) => {
      const image = images[index] || defaultImage;
      return (
        <figure class={`relative h-96 overflow-hidden rounded-md ${position}`} data-aos="fade-up"
     data-aos-duration="500"
     data-aos-easing="ease-in-out"
     data-aos-once="true">
          <Image 
            src={image.url}
            alt={image.alt}
            width={800}
            height={600}
            class="absolute inset-0 h-full w-full object-cover"
            loading={index < 2 ? "eager" : "lazy"}
          />
        </figure>
      );
    })}
  </section>

  <div class="flex justify-center mt-10 mb-20">
    <a class="button-red" href="/NailGallery">See more</a>
  </div>
</section>

  