---
import { Image } from "astro:assets";
import icon from "../assets/icon-menu.svg";
---
<header class="relative z-10 header-section">
    <div class="flex items-center">
      <a href="/" aria-label="Ir al inicio - Erling Nails">
        <Image 
          src={icon} 
          alt="Logo de Erling Nails" 
          class="w-12 h-12 hover:scale-105 transition-all duration-300 hover:cursor-pointer" />
      </a>
    </div>
  </header>
  