---
import { WordRotate } from '@/components/WordRotate'
import HeroVideo from '../assets/video/HeroVideo.webm'
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const video = document.getElementById('videoHero') as HTMLVideoElement;
    if (video) {
      video.play().catch((error: Error) => {
        console.log("Video autoplay failed:", error);
      });
    }
  });
</script>

<section 
  class="hero-section absolute inset-0 z-20 left-0 right-0 h-screen overflow-hidden shadow-xl shadow-black/40 animate-fade-in"
  aria-label="Presentation video about manicure and pedicure in Playas del Coco"
  itemscope 
  itemtype="https://schema.org/VideoObject"
>
  <!-- Background video -->
  <video 
    id="videoHero"
    class="video-area absolute inset-0 w-full h-full object-cover z-0 filter contrast-125 brightness-80 saturate-110 animate-fade-in"
    autoplay 
    muted 
    loop 
    playsinline 
    preload="metadata"
    aria-hidden="true"
    itemprop="contentUrl"
  >
    <source src={HeroVideo} type="video/webm" />
    Your browser does not support the video.
  </video>

  <!-- Additional microdata -->
  <meta itemprop="name" content="Erling Nails Presentation Video" />
  <meta itemprop="description" content="Professional manicure and pedicure services showcase in Playas del Coco, Guanacaste." />
  <meta itemprop="uploadDate" content="2025-05-06" />
  <meta itemprop="thumbnailUrl" content="https://tusitio.com/preview.jpg" />

  <!-- Content over video -->
  <div class="relative z-10 flex justify-center items-center h-full px-4 mix-blend-normal">
    <h1 class="text-6xl md:text-6xl lg:text-8xl font-bold text-white/90 text-center font-special tracking-wider drop-shadow-[0_1.3px_3.3px_rgba(0,0,0,0.8)] animate-slide-up">
      <WordRotate client:only="react" words={["Professional manicure and pedicure in Playas del Coco to enhance your natural beauty", "Discover the best nail service in a comfortable and professional environment", "Transforming your nails with love, detail, and style"]} /> 
    </h1>
  </div>
</section>



