---
---

<section class="mb-60 mt-48 opinion-section text-theme-white">
  <h2 class="text-6xl font-bold mb-14 font-special tracking-wider">
    Opiniones de mis clientes
  </h2>

  <p class="text-2xl mb-5">
    ¿Quieres saber qué opinan mis clientes sobre mi trabajo? Aquí tienes algunos de los comentarios que he recibido.
  </p>

  <swiper-container
    class="mySwiper"
    space-between="30"
    slides-per-view="auto"
    pagination="true"
    pagination-clickable="true"
    autoplay="true"
    autoplay-delay="3000"
    loop="true"
  >
    <swiper-slide class="testimonial-slide flex flex-col ">
      <p>“¡Simplemente la mejor! Desde que empecé a atenderme con ella, mis uñas duran semanas intactas. Siempre me recomienda lo mejor para mi tipo de uña y sus diseños son una obra de arte. 100% recomendada.”</p>
      <span class="mt-4 font-light">— Camila R.</span>
    </swiper-slide>

    <swiper-slide class="testimonial-slide flex flex-col ">
      <p>“No solo salí con unas uñas hermosas, también me sentí súper bien atendida. El ambiente es relajante, limpio, y ella es súper profesional. Se nota que ama lo que hace.”</p>
      <span class="mt-4 font-light">— Valentina M.</span>
    </swiper-slide>

    <swiper-slide class="testimonial-slide flex flex-col ">
      <p>“Soy muy exigente con mis uñas, y puedo decir que encontré a mi manicurista ideal. Puntual, detallista y con productos de excelente calidad. ¡No la cambio por nada!”</p>
      <span class="mt-4 font-light">— Andrea L.</span>
    </swiper-slide>

    <swiper-slide class="testimonial-slide flex flex-col ">
      <p>“Cada cita es una experiencia. Me relajo, me consiento y salgo feliz con mis uñas hermosas.”</p>
      <span class="mt-4 font-light">— Lucía T.</span>
    </swiper-slide>

    <swiper-slide class="testimonial-slide flex flex-col ">
      <p>“No solo es talentosa, también es súper amable. Se siente como visitar a una amiga.”</p>
      <span class="mt-4 font-light">— Belén T.</span>
    </swiper-slide>
  </swiper-container>
</section>

  <script 
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js">
  </script>

  <style>
  swiper-container {
    width: 100%;
    height: 40vh;
  }

  swiper-slide {
    width: 80%;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: large;

    background: rgba(245, 9, 9, 0.08); /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */

    border: 1px solid rgba(255, 255, 255, 0.2);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transition: transform 0.3s ease; */
  }


  swiper-slide:nth-child(2n) {
    width: 60%;
  }

  swiper-slide:nth-child(3n) {
    width: 40%;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
