---
import '../styles/global.css';
import RichSnnipppets from '@/components/RichSnnipppets.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Erling Nails</title>
	<RichSnnipppets />

	</head>
	<body class="relative -z-20 h-full w-full bg-gray-800 text-theme-white">
		<div class="absolute -z-10 inset-0 bg-secondary bg-[size:20px_20px] opacity-90 blur-[100px]"></div>
		<main class="container mx-auto max-w-5xl p-4"> 
			
			<Header />
				<slot />
			<Footer />
		
		</main>
	
	</body>
</html>


